:root {
    --white: #ffffffaf;
    --gray: #ffffff88;
    --border: #ffffff3d;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #ffffffaf;
    font-weight: 900;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
